<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="QFACE Website">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link href="src/views/css/style.css" type="text/css" rel="stylesheet">
	<!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Welcome to QFACE</title>
</head>
<body>
	<!-- Header Element-->
	<header>
	
	</header>
	<!-- Main Element-->
	<main>	
		<a href="/">
			<img id="logoButton" src="src/views/images/logo2.png" width="100" height="100">
		</a>
		<div class="faceScan">
			 <video autoplay="true" id="videoElement"></video>
		</div>
		<div class="takePicture">
			<button id="idButton" type="button" class="btn btn-primary btn-lg">Verify</button>
		</div>
	</main>
	<!-- Footer Element-->
	<footer>
		<p>Copyright 2017 by QFACE CO.</p>
	</footer>
	<!-- JavaScript -->
	<script src="src/views/js/script.js"></script>
	<script type="text/javascript">
		var verButton = document.querySelector("#idButton");
		verButton.onclick = function(){
			alert("Verify!");
		};
	</script>
</body>	
</html>

