<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="QFACE Website">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link href="src/views/css/style.css" type="text/css" rel="stylesheet">
	<!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Welcome to QFACE</title>
</head>
<body>
	<!-- Header Element-->
	<header>

	</header>
	<!-- Main Element-->
	<main>	
		<!--Background Video -->
		<div class="videoContainer">
			<video video id="video-elem" preload="auto" autoplay="true" loop="loop" muted="muted" poster="">	
				<source src="src/views/video/matrix.mov">
			</video>
		</div>
		<!-- Logo -->
		<div class="container">
			<img id="logo" src="src/views/images/logo2.png" width="850" height="650">
		</div>
		<!-- Buttons -->
		<div class="buttons">
			<div class="btn-group" style="left: -6px;">
			<a href="/addCustomer">
				<button type="button" class="btn btn-primary btn-lg">New</button>
			</a>
			<a href="/identifyCustomer">
				<button type="button" class="btn btn-primary btn-lg">Identify</button>
			</a>
			<a href="/">
				<button type="button" class="btn btn-primary btn-lg">Retrain</button>
			</a>
	 		</div>
		</div>
	</main>
</body>	
</html>