<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <h3> Things to check: </h3>
        <ul>
            <li> See if the string "It worked!" appears in the browser console.</li>
            <li> This button increments this number properly properly:</li>
            <button id="incrementor"> Increment By Two </button>
            <div id="counter">0</div>
        </ul>
    </body>

    <script type="application/javascript" src="./Turbo.asm.js"></script>
    <script type="application/javascript">
        let incrementor = document.getElementById("incrementor");
        let counter = document.getElementById("counter");

        incrementor.onclick = function() {
            let currentCounts = window.parseInt(counter.textContent);
            counter.textContent = currentCounts + Module.stubViewFunction();
        };
    </script>
</html>
