<!DOCTYPE html>
<html lang="en">
    <head>
    </head>
    <body>
        <ul>
            <li> Crop the president!</li>
            <button id="cropper"> Crop image </button>
        </ul>
        <img id="obama" src="./data/obama.bmp" alt="no-goose">
    </body>

    <script type="application/javascript" src="./Turbo.asm.js"></script>
    <script type="application/javascript">
    let cropper = document.getElementById("cropper");
    let obama = document.getElementById("obama");

    cropper.onclick = function() {
        let base64String = Module.faceCropper_detectCropFace();
        obama.src = "data:image/bmp;base64," + btoa(base64String);
    };
    </script>
</html>
