<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="description" content="QFACE Website">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- CSS -->
	<link href="src/views/css/style.css" type="text/css" rel="stylesheet">
	<!-- BootStrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<title>Welcome to QFACE</title>
</head>
<body>
	<!-- Header Element-->
	<header>
	</header>
	<!-- Main Element-->
	<main>	
		<a href="/">
			<img id="logoButton" src="src/views/images/logo2.png" width="100" height="100">
		</a>
		<div class="faceScan">
			<img id="identify" src="src/views/images/croppedpic.jpeg" width="700" height="500">
		</div>
	<!--
		<div class="saveCustomerForm">
			<form id="customerForm" action="" method="post" enctype="text/plain">
				<label id="StudentId">Enter: </label>
    			<input type="text" id="fname" name="firstname" placeholder="First Name...">
    			<input type="text" id="fname" name="lastname" placeholder="Last Name...">
    			<input type="text" id="studNum" name="studentnumber" placeholder="Student ID...">
				<p id="savebuttons">
					<input type="submit" name="upload" value="Save">
					<input type="reset" value="Reset">
				</p>
			</form>
		</div>
	-->
	</main>
	<!-- Footer Element-->
	<footer>
		<p>Copyright 2017 by QFACE CO.</p>
	</footer>
</body>	
</html>

